DATABASE_URI=mysql+aiomysql://user:password@host:port/database

SSH_HOST=
SSH_USERNAME=
SSH_KEY_PATH=~/.ssh/id_rsa
SSH_BASE_PATH=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=user
SMTP_PASSWORD=password

FROM_ADDR=example@email.com
TO_ADDR=example@email.com
